$color1 : #D2FFE7;
$color2: #dedede;

$size1 : 1.2rem;
$size2: 1.5rem;
$size3: 2rem;

@mixin spanDash{
    width: 100px;
    padding: 3px 0;
    margin: 11px auto;
    background-color: $color1;
    display: block;
}
